<h1>Hello World! </h1>
<h1>Hello Heroku!</h1>
<h1>Hello Git!</h1>
<h1>Finally..</h1>
<h1>Now with Header..</h1>
<h1>Also comes with a Footer! Yeah!</h1>
<h1>King Bato-on</h1>	
<h1>Alma Bernales</h1>
<h1>Harriet Gonzales</h1>
<h1>Angelyn Sanjorjo</h1>
<h1>PAT LIM</h1>