// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.midlogo {
	color:#f4f4f4;
	background:#1a5da4;
	padding:20px 0
}

footer {
	background:#2e3133;
	padding:40px 0 20px 0;
	color:#636363;
	font-size:12px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif
}
footer a {
	color:#8e8e8e;text-decoration:none;line-height:inherit
}
footer a:hover {
	opacity:.7;
	color:#8e8e8e
}
.fright {
	float:right
}
.container {
	margin-left:auto;
	margin-right:auto;
	width:960px
}
.container .grid-12 { 
	width:940px 
}
