// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.withborder {
	border:1px solid black;
}


.website {
	margin:40px;
	padding: 50px;
	display: inline-block;
	text-align:center;
}

